@charset "UTF-8";

/* Header */

	#header {
		position: relative;
		background: #ffffff;
		border-bottom: solid 1px #ccc;
		text-align: center;
	}

		#header h1 {
			color: #252122;
			font-size: 3.0em;
			letter-spacing: -0.035em;
			line-height: 1;
		}
			#header h1 a{
				text-decoration: none;
				color: inherit;
			}

/* Nav */

	#nav {
		margin: 2.5em 0 0 0;
		padding: 1em 0 2em 0;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				display: inline-block;
				font-style: italic;
				margin: 0 0.35em 0 0.35em;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav > ul > li > a {
					border-radius: 5px;
					color: #5d5d5d;
					text-decoration: none;
					padding: 0.6em 1.2em 0.6em 1.2em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					outline: 0;
				}

				#nav > ul > li:hover > a, #nav > ul > li.active > a {
					background: #f3f3f3;
				}

				#nav > ul > li.current > a {
					text-decoration: underline;
					text-decoration-color: red;
					text-decoration-thickness: 3px;
					text-underline-offset:12px;
				}
				
/* Body */
#body {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    text-align: center;
}
#video {
	width: 1500px;
	margin: 0 auto;
	text-align: center;
}
#home1{
	width: 1500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}
#home1Div1-1{
	float: left;
	margin-left: 100px;
}
#home1Img1-1{
	width: 610px;
	height: 470px;
}

